//mixins are reusable css codes

@mixin clearfix {
    //after creates a pseudo element after the element
    //you must give it an empty content, bc it is an element
    &::after{
        content:"";
        //display table is the standard version for clearfix
        display: table;
        //both means it will work wheather we use float right or float left
        clear: both;
    }
}

@mixin vertical-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}