.header {
    height: 95vh;
    /* we set 2 background images here! */
    background-image: 
    linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.801), 
        rgba($color-primary-dark, 0.801)), 
    url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    /* made position relative for the child div's padding to work, i think */
    position: relative;

    //webkit should come first
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path:  polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path:  polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}