body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color:$color-grey-dark;
    padding: 3rem;
}

.heading-primary{
    color:$color-white;
    text-transform: uppercase;

    /* prevents the shaking from happening */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        /* block elements take up the entire width that is avilable, and have line breaks before and after */
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.3rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
    
        /* ease-in will start slower, then get faster (opposite for ease-out) */
        animation-timing-function: ease-out;
        /* 
        animation-delay: 3s; 
        animation-iteration-count: 3;
        */
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.9rem;
        animation: moveInRight 1s ease-out;
    }
}